<section class="card">
  <header class="card-header">
    <ng-container *ngIf="username">
      <h1 class="card-title">
        Repositories from <span>{{ username }}</span>
      </h1>
    </ng-container>
  </header>
  <main class="card-body">
    <ng-container *ngIf="isLoading">
      <div class="preloader">
        <app-preloader></app-preloader>
      </div>
    </ng-container>

    <div id="repositories">
      <!--      In case we run into trouble-->
      <ng-container *ngIf="errorData">
        <div class="error-box">
          <div class="label-value">
            <span class="label">Error occurred (status {{ errorData.status }})</span>
            <span class="value">{{ errorData.error.message }}</span>
          </div>
        </div>
      </ng-container>
      <!--      If user doesn't have any repos that fits the query-->
      <ng-container *ngIf="repositories.length === 0 && !isLoading && !errorData">
        <div class="no-results">
          <img src="./assets/img/sad-cat.jpg" title="A sad cat" alt="Nothing :("/>
          <p><span>{{ username }}</span> doesn't seem to have any repositories that matching our requirements</p>
        </div>
      </ng-container>
      <!--Yalla - render repos-->
      <ng-container *ngIf="repositories.length > 0 ">
        <div class="repository" *ngFor="let repository of repositories; let i = index;">
          <div class="name">
            <div class="label-value">
              <span class="label">Repository name</span>
              <span class="value">{{ repository.name }}</span>
            </div>
          </div>
          <div class="owner">
            <div class="label-value">
              <span class="label">Owner (login)</span>
              <span class="value">{{ repository.owner.login }}</span>
            </div>
          </div>
          <div class="branches">
            <div class="label-value">
              <span class="label">Branches <ng-container *ngIf="branchCountKeeper[i]">[{{ branchCountKeeper[i] }}]</ng-container></span>
              <span class="value">
                   <app-repos-branch-list (branchesCount)="branchCountKeeper[i] = $event"
                                          [branchUrl]="constructBranchUrl(repository)"></app-repos-branch-list>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </main>
</section>
