<ng-container *ngIf="isLoading">
  <app-preloader [isSmall]="true"></app-preloader>
</ng-container>

<ng-container *ngIf="!isLoading">
  <ul class="branches">
    <li *ngFor="let branch of branches">
      <div class="label-value">
        <span class="value">{{ branch.name }}</span>
        <span class="label sha">SHA {{ branch.commit.sha }}</span>
      </div>
    </li>
  </ul>

  <ng-container *ngIf="errorData">
    <div class="error-box">
      <div class="label-value">
        <span class="label">Error occurred (status {{ errorData.status }})</span>
        <span class="value">{{ errorData.error.message }}</span>
      </div>
    </div>
  </ng-container>
</ng-container>
