.btn {
  border: 0;
  background: none;
  font-family: $font-family;
  font-size: 1rem;
  padding: $input-button-padding;
  width: 100%;

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &-primary {
    background: $primary;
    color: #fff;
    border-radius: $input-button-border-radius;
  }
}
