.card {
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1rem;
  &-header,
  &-body,
  &-footer {
    padding: 1rem;
  }

  &-header {
    border-bottom: 1px $light-gray solid;
  }
}
