input[type='text'] {
  border: 1px $light-gray solid;
  border-radius: $input-button-border-radius;
  background: $lighter-gray;
  padding: $input-button-padding;
  font-family: $font-family;
  font-size: $input-button-font-size;
  width: 100%;
}
