html,
body {
  font-family: $font-family;
  background: $light-gray;
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: $primary;
}

a:hover {
  color: darken($primary, 15%);
}

small {
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}

.label-value {
  .label {
    display: block;
    font-size: 0.75rem;
    color: $gray;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
}

.error-box {
  background: #ffcccc;
  padding: 1rem;
}


.info {
  // background: $white;
  color: $gray;
  span {
    color: $red;
  }
}
