$font-family: 'Poppins', sans-serif;

// Colors
$primary: #5f6edc;
$red: red;

$gray: #888888;
$light-gray: #e3e3e3;
$lighter-gray: #f8f8f8;
$white: #fff;

// Buttons and Input padding
$input-button-padding: 0.8rem 1rem;
$input-button-border-radius: 4px;
$input-button-font-size: 1rem;

// Txt - Heading
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  @media all and (max-width: 980px) {
    font-size: 1.4rem;
  }
}
