app-preloader {


  svg {
    margin: 0 auto 1rem;
    max-width: 150px;
  }

  div {
    text-align: center;
    &.small {
      svg {
        max-width: 50px;
      }
    }
  }

  p {
    animation: fadeIn 2000ms infinite;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
