app-repos-branch-list {
  .sha {
    margin-top: 0.75rem;
  }

  ul.branches {
    padding-left: 10px;
    font-size: 0.8rem;
  }

  .label-value {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -8px;
      height: calc(100% - 10px); // 100% of height and 5px from top and 5px from the bottom
      top: 5px;
      border-left: 1px $gray solid;
    }

    .value, .label {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 6px;
        border-top: 1px $gray solid;
        height: 1px;
        top: 50%;
        left: -7px;
      }
    }
  }
}
