app-repos-list {
  h1 {
    span {
      color: $gray;
    }
  }

  #repositories {

    .no-results {
      text-align: center;

      img {
        max-width: 200px;
      }

      span {
        color: $gray;
      }
    }

    .repository {
      display: grid;
      grid-gap: 1rem;
      border-bottom: 1px $light-gray solid;
      //margin-bottom: 1rem;
      align-items: start;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      border-left: 2px transparent solid;
      transition: all 300ms;
      margin-bottom: 0.75rem;
      padding: 0 0.5rem;

      &:hover {
        border-left-color: $primary;
        transition: all 300ms;
      }
    }

    .owner {
      display: flex;
      align-items: center;

      img {
        max-width: 64px;
        margin: 0 1rem 0 0;
      }
    }
  }
}
