<main class="app">
  <nav>
    <app-search></app-search>
  </nav>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>Coded because you asked for it - by Marcin Szynal (<a href="mailto:marcin.szynal@e-care.pl">marcin.szynal@e-care.pl</a>)</p>
</footer>
