<section class="card">
  <header class="card-header">
    <h1 class="card-title">
      Search for repositories
    </h1>
  </header>
  <main class="card-body">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
      <div class="search-wrapper">
        <div>
          <input
            formControlName="username"
            type="text"
            placeholder="Enter username"
          />
        </div>
        <div>
          <button
            [disabled]="searchForm.invalid"
            class="btn btn-primary"
            type="submit"
          >
            Search
          </button>
        </div>
      </div>
    </form>
    <div class="info">
      <p>
        <small>Enter a valid username - <ng-container *ngIf="searchForm.get('username').value.length === 0"><span>Username is empty!</span></ng-container>
          <ng-container *ngIf="searchForm.get('username').value.length > 0">it's not empty anymore</ng-container>
        </small>
      </p>
    </div>
  </main>
</section>
